body{
    font-family:Arial;
    font-size:medium;
    line-height: 1.5;
    margin:20px;
    content: normal;
}
h2{
    color:pink;
}
p{
    font-weight: 700;
}

th, td{
    border: 1px solid black;
    padding: 8px;
}
section{
    display:inline;
}
