body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: rgb(109, 188, 188);
}
.navbar a{
    margin-left: 20px;
}
.navbar img{
    align-items:center;
    margin-left: 30px;
}

.navbar-brand {
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn-primary{
    background-color:#7077A1;
}
.custom-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Soft Shadow */
}

.custom-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border: 1px solid #7077A1; 
}

.card-img-top {
    height: 180px;
    object-fit: cover;
}

.btn-primary {
    border-radius: 25px; 
    font-weight: 500;
}

.btn-outline-primary {
    transition: 0.3s;
}
.d-flex{
    padding-left: 20px;
}
.d-flex .btn-primary{
width:200px;
}